@use "../abstracts" as *;

.details {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);

  .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

.modal {
  margin-top: 7%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  padding-top: 4rem;
  @include tablet {
    width: 70%;
    margin-top: 25%;
  }
  @include desktop {
    width: 50%;
    margin-top: 5%;
    padding: 4rem;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 3rem;
    color: #333;
    font-weight: bold;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      gap: 4rem;
    }
    @include desktop {
      gap: 6rem;
    }

    .main {
      display: flex;
      gap: 2rem;
      flex-direction: column;
      align-items: center;
      @include tablet {
        align-items: flex-start;
      }

      .img {
        @include size(20rem);
        object-fit: fill;
        display: flex;
        @include desktop {
          @include size(25rem);
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        @include tablet {
          align-items: flex-start;
        }

        .name {
          text-transform: capitalize;
          font-size: 2rem;
          font-weight: bold;
          display: flex;
          align-items: flex-end;
          gap: 1rem;

          .order {
            font-size: 1.6rem;
            opacity: 0.3;
          }
        }

        .types {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          .type {
            border-radius: 2rem;
            text-transform: capitalize;
            font-weight: bold;
            font-size: 1.3rem;
            padding: 0.5rem 1.5rem;
            background-color: darken($card-bg, 2%);
            transition: all 0.2s ease-in-out;
            &:hover {
              background-color: darken($card-bg, 5%);
            }
          }
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @include desktop {
        gap: 2rem;
      }

      .section {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__name {
          font-size: 1.6rem;
          font-weight: bold;
        }

        .items {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;

          .item {
            display: flex;
            gap: 1rem;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
            padding: 0.8rem 1rem;
            flex-direction: column;
            border-radius: 0.5rem;

            .label {
              font-size: 1.4rem;
              font-weight: bold;
              text-transform: capitalize;
            }

            .value {
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .stat {
    display: flex;
    gap: 1rem;
    align-items: center;

    &__name {
      font-size: 1.6rem;
      font-weight: bold;
      opacity: 0.5;
      text-transform: capitalize;
      flex-basis: 30%;
    }

    &__bar {
      width: 100%;
      height: 0.8rem;
      background-color: #eee;
      border-radius: 0.5rem;
      position: relative;
      overflow: hidden;

      &__inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: darken(#eee, 25%);
        border-radius: inherit;
      }
    }
  }
}
