@use "../abstracts" as *;

.home {
  border-radius: 0.5rem;
  border: 1px solid #eee;
  padding: 2rem;
  margin: 1rem;
  margin-top: 5rem;
  @include desktop {
    margin: 4rem;
    padding: 3rem;
    margin-top: 7rem;
  }
  .intro {
    font-size: 2rem;
    text-align: center;
    opacity: 0.5;
    font-weight: bold;
    margin-bottom: 2rem;
    @include tablet {
      margin-bottom: 3rem;
    }
    @include desktop {
      font-size: 1.8rem;
      opacity: 0.4;
    }
  }
  .list {
    display: grid;
    gap: 0.2rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .loading {
    text-align: center;
    font-weight: bold;
    opacity: 0.3;
    margin-top: 2rem;
  }
}
