@use "../abstracts" as *;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card {
  background-color: $card-bg;
  cursor: pointer;
  color: $card-color;
  font-weight: bold;
  padding: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  position: relative;
  &:hover {
    background-color: $bg-hover;
  }
  .name {
    font-size: 2rem;
    text-transform: capitalize;
  }
  .img {
    width: 5rem;
    height: 5rem;
    object-fit: fill;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .load {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    animation: spin 1s linear infinite;
    opacity: 0.5;
  }
}
